// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//                    ______          __            __                         :
//                   / ____/___ ___  / /____  _____/ /_                        :
//                  / __/ / __ `__ \/ __/ _ \/ ___/ __ \                       :
//                 / /___/ / / / / / /_/  __/ /__/ / / /                       :
//                /_____/_/ /_/ /_/\__/\___/\___/_/ /_/                        :
//                                                                             :
// This file contains confidential and proprietary information of Emtech SA.   :
// Any unauthorized copying, alteration, distribution, transmission,           :
// performance, display or other use of this material is prohibited.           :
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Client             : emtech
// Version            : 1.0
// Application        : Generic
// Filename           : b_sequencer.svh
// Date Last Modified : 2025 AUG 13
// Date Created       : 2025 AUG 13
// Device             : Generic
// Design Name        : Generic
// Purpose            : B sequencer class
// Author(s)          : Joel Wayar
// Email              : jwayar@emtech.com.ar
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Agent description: Agente simple
//
// Detailed Description:
//Agent sequencer
//
// -----------------------------------------------------------------------------
`ifndef B_SEQUENCER_SVH
`define B_SEQUENCER_SVH

//------------------------------------------------------------------------------
// CLASS: b_sequencer
//------------------------------------------------------------------------------
// The sequencer for the B agent. It arbitrates between sequences
// and provides transactions to the driver.
//------------------------------------------------------------------------------
class b_sequencer extends uvm_sequencer #(b_seq_item);
  `uvm_component_utils(b_sequencer)

  function new(input string name, uvm_component parent = null);
    super.new(name, parent);
  endfunction : new

endclass : b_sequencer

`endif